*{
    font-family: 'Bodoni Moda', serif;
}

body{
    background-color: hsl(0, 0%, 85%);
    max-width: 2160px;
    margin: auto;
}

h1{
    color: hsl(0, 0%, 0%);
    font-size: 5em;
    text-transform: uppercase;

}

h2{
    color: hsl(0, 0%, 0%);
    font-size: 3em;
    text-transform: uppercase;
}

p{
    color: hsl(0, 0%, 15%);
    font-size: 1em;
}

header{
    background-color: hsl(0, 0%, 40%);
    max-width: 2160px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.navigation-bar{
    background-color: hsl(0, 0%, 15%);
    margin: 0;
    overflow: hidden;  
}

.navigation-bar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1.4em;
}

.navigation-bar a:hover{
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 0%);
}

.navigation-bar a.active {
    background-color: hsl(158, 95%, 34%);
    color: hsl(0, 0%, 100%);
  }

.hero {
    min-height: 100vh;
    max-width: 2160px;
    margin: auto;
    padding: 0;

}

.name-container {
    width: 99vw;
    max-width: 2160px;
    position: absolute;
    overflow: hidden;
    z-index:-1;
    margin: 0;
    padding: 0;
}

.name-marquee {
    font-family: 'Six Caps', sans-serif;
    font-size: 35em;
    color: hsl(0, 0%, 15%);
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    animation: name-marquee 30s linear infinite; 
    -moz-animation: name-marquee 30s linear infinite;
    -webkit-animation: name-marquee 30s linear infinite;

  }

@keyframes  name-marquee {
    from {
      transform: translateX(100%);
      -moz-transform: translateX(100%); 
      -webkit-transform: translateX(100%);
    }
    to {
      transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
    }
  }

.profile-picture {
    float: left;
    max-width: 1000px;
    margin: 0;
    position: relative;

  }

.profile-picture-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid hsl(0, 0%, 10%);
}

.about-section {
    
    max-width: 60ch;
    float: right;
    margin: 0;
    padding: 40px 40px;
    font-size: 1.6em;
}

.social-media {
    overflow: hidden;  
    text-decoration: none;
    font-size: 16px;
  }

footer {
    background-color: gray;
}

.footer-content p {
    font-family: 'Rock Salt', cursive;
    text-align: center;
  }

footer p{
    width: 100%;
}