body{
    max-width: 2160px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }

h1, h2 {
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {
    font-size: 3.158rem; /* 50.56px */
    text-decoration: underline;
}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

p{
    color: hsl(0, 0%, 15%);
    font-size: 1em;
    line-height: 1.6;
}

header{
    max-width: 2160px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.navigation-bar{
    margin: 0;
    overflow: hidden;  
}

.navigation-bar a{
    float: right;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 1.4em;
}

.navigation-bar a:hover{
    background-color: hsl(0, 0%, 65%);
    color: hsl(0, 0%, 0%);
}

.navigation-bar a.active {
    background-color: hsl(158, 95%, 34%);
    color: hsl(0, 0%, 0%);
  }

  .name-container {
    width: 96vw;
    max-width: 2160px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index:-1;
    margin: 0;
    padding: 0;
}

.name-marquee {
    font-family: 'Six Caps', sans-serif;
    font-size: 35em;
    color: hsla(0, 0%, 30%, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    animation: name-marquee 20s linear infinite; 
    -moz-animation: name-marquee 20s linear infinite;
    -webkit-animation: name-marquee 20s linear infinite;

  }

@keyframes  name-marquee {
    from {
      transform: translateX(100%);
      -moz-transform: translateX(100%); 
      -webkit-transform: translateX(100%);
    }
    to {
      transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
    }
  }

.hero {
    min-height: 100vh;
    max-width: 2160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;

}

.profile-picture {
    float: left;
    max-width: 1200px;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: hsla(200, 50%, 15%, 0.3);
    border-radius: 40px;
    box-shadow: 20px 20px 20px grey;
  }

.profile-picture-image {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -70px;
    border-bottom: 5px solid black;
}

.about-section {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    position: relative;
}

footer {
    background-color: hsl(0, 0%, 60%);
}

.footer-content p {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    margin: auto;
  }

  .social-media {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-media img {
    width: 25px;
}
