*{
    font-family: 'Rock Salt', cursive;
}

body{
    background-color: lightslategray;
}

h1{
    color: black;

}

h2{
    color: black;
}

p{
    color: black;

    font-size: 20px;
}

header{
    background-color: gray;

}

footer{
    background-color: gray;
}

footer p{
    margin: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.navigation-bar{
    background-color: #333;
    overflow: hidden;  
}

.navigation-bar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar a:hover{
    background-color: #ddd;
    color: black;
}

.navigation-bar a.active {
    background-color: #04AA6D;
    color: white;
  }